@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins", sans-serif;
}
body{
  background: #F1F1F1;
}
main *{
  transition: all 0.3s;
  animation: fade 0.3s ease;
}
@keyframes fade {
  from{
    opacity: 0;
    transform: translateY(10px);
  }
}
.flex-between{
    display: flex;
    align-items: center;justify-content: space-between;
}

.list{
  padding: 1rem;
}
.list-item{
  background: #ffffff;
  padding: 1rem;
  border-radius: 7px;
  margin-top: 0.5rem;
  overflow: hidden;
  position: relative;
}
.list-item .name{
  font-weight: 600;
  
}
.list-item .model-badge {
  display: inline-block;
  background: #e8eaff;
  color: #2f2f2f;
  padding: 4px 8px;
  margin: 2px;
  border-radius: 6px;
  font-size: 12px;
}

.list-item .low , .list-item .out{
  color: red;
  font-weight: 500;
  position: absolute;
  top: 0;
  right: 0;
  background: #F72121;
  color: #fff;
  border-radius: 0 0px 0px 10px;
  padding: 0.2rem 0.5rem;
  font-size: 10px;
  transition: all 0.3s ease;
  animation: fadeUp 1s ease;
}
@keyframes fadeUp{
  0%, 70%{
    opacity: 0;
  }
}
.list-item .low{
  background: #FFDA06;
  color: #444;
}
.list-item .out-count{
  color: #847100;
}

.list-item .low-count{
  color: #F72121;
  background: #fff;
  height: 30px;
  width: 30px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-item .stock-count{
  color: #fff;
  background: #0070FF;
  height: 30px;
  width: 30px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-item hr{
  margin-top: 0.5rem;
}

.list-item .bottom-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.list-item .bottom-box span{
  text-align: center;
}
.list-item .title{
  color: #84A0C2;
  font-size: 10px;
  font-weight: 600;
}


input, button{
    background: #ECF5FF;
    border: 1px solid #E1E1E1;
    padding: 0.5rem 0.5rem;
    border-radius: 7px;
    font-weight: 600;
}
button.fab{
  height: 60px;
  width: 60px;
  border-radius: 100px;
  background: #0070FF;
  color: #fff;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.26);
  border: none;
}

header{
    background: #0070FF;
    color: #fff;
    padding: 1rem;
    padding-bottom: 0;
    animation: none;
    position: sticky;
    top: -60px;
    z-index: 5;
}
header * {
  animation: none;
}

header input{
    margin-top: 1rem;
    width: 100%;
    position: sticky;
    z-index: 10;
    top: 10px;
}

header .table{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}
header .table div{
    flex: 1;
    text-align: center;
    padding-bottom: 1rem;
    position: relative;
}

header .table div.active{
    font-weight: 600;
}

header .table div.active::after{
    content: "";
    height: 3px;
    background: #DAC000;
    display: block;
    border-radius: 7px 7px 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

header .low{
  position: relative;
}
header .low span{
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  border-radius: 100px;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

/* create job*/

.form{
  background: #ffffff;
  padding: 1rem;
  border-radius: 7px;
  text-align: center;
  margin: 2rem;
}
.form input{
  margin: auto;
  margin-top: 0.5rem;
}
.form button{
  margin-top: 2rem;
  background: #0070FF;
  color: #fff;
  margin-right: 0;
}
.form .btn-flex{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#message{
  font-size: 12px;
  color: red;
  font-weight: 500;
}






.qty-control {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
}

.qty-btn {
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background: #1565c0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qty-btn.minus {
  background: #d32f2f;
}



.edit-btn {
  margin-top: 6px;
  padding: 4px 40px;
  border: none;
  border-radius: 6px;
  background: #444;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}





.bottom-nav-wraper{
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.bottom-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.81);
  background: rgba(0, 112, 255, 0.82);
  width: 80%;
  padding: 0.3rem;
  border-radius: 100px;
  backdrop-filter: blur(3px);
  border: 1px solid #BEBEBE;
  border-color: #A6A6A661;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  
}
.bottom-nav span{
  width: 60px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  color: #fff;
}

.bottom-nav span.active{
  position: relative;
  color: #0070FF;
}

.bottom-nav span.active::after{
  content: "";
  background: #fff;
  width: 60px;
  height: 40px;
  position: absolute;
  border-radius: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  animation: popUp 0.3s ease;
  scale: 1;
}
@keyframes popUp {
  from{
    width: 0px;
    height: 0px;
  }
}

.bottom-nav svg{
  width: 30px;
}

select{
  max-width: 100%;
}



.create-job .form {
  position: relative;
}

.suggestions {
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  background: #fff;
  width: 100%;
  z-index: 10;
  left: 0;
  border-radius: 7px;
}

.suggestions div {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  border-radius: 7px;
  font-weight: 500;
}
.suggestions div .qty{
  width: max-content;
  padding: 0.1rem 0.5rem;
  background: #0070FF;
    color: #fff;
  border-radius: 7px;
  margin: auto;
}
.suggestions div .qty.low{
  background: red;
}
.suggestions div .qty.empty{
  background: gray !important;
}
.outof-stock{
  opacity: 0.4;
}
.list-item.outof-stock{
  opacity: 1;
  background: #EAEAEA;
  color: #5C5C5C;
}




.model-tag {
  background: #e8eaff;
  color: #2f2f2f;
  padding: 3px 8px;
  margin: 2px;
  border-radius: 6px;
  font-size: 12px;
  display: inline-block;
}

.suggestions div:hover {
  background: #f0f0f0;
}

.hidden{
    display: none !important;
}